{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 text-layout">
      <h2>Our Company</h2>
      <p>
         Hidden Beauty was originally called We Are Beautiful and was created 
         by Quatsch und Unfug ÖU, formerly incorporated in Talinn, Estonia.
      </p>
      <p>
         Quatsch und Unfug ÖU no longer exists and this project is officially
         terminated and no further models or developement will happen. This site
         is being hosted in its current form because we belive that some people
         may still find it interesting.
      </p>
  </div>
{% endblock%}
