{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-12 text-layout">
      <h2>Contact Us</h2>

      <h5>Twitter</h5>
      <p>
        This project has been terminated and we've shut down our Twitter and Instagram accounts. 
        But if you have absolutely must contact Mayhem, the person who continues to host this
        site, contact him on <a href="https://twitter.com/MayhemBCN">Twitter</a>.
      </p>
       
      <h5>GitHub</h5>
      
      <p>
         We use GitHub to host the source code for our projects and the models themselves. You can
         find all the technical details about this project at our <a href="https://github.com/hidden-beauty">
         GitHub page</a> and on our <a href="/opensource">open source</a> page.
      </p>

    </div>
  </div>
{% endblock%}
