<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="View 3D models of humans to improve body self image.">
    <meta name="keywords" content="body-image, human body, self perception, 3d models, cc0, 3d printing">

    {% block meta %}
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{{ static_url('gcss/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/hb.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ static_url('img/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ static_url('img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ static_url('img/favicon-96x96.png') }}">
    {% endblock %}

    <title>{% block title %}Hidden Beauty{% endblock %}</title>
    <script src="https://kit.fontawesome.com/b9068ed18c.js" crossorigin="anonymous"></script>

    {% endblock %}
  </head>
  <body>

  {%- include 'navbar.html' -%}
  <div id="container" class="{% if not container %}container-lg{% else %}{{ container }}{% endif %}">
    {% block content %}
    {% endblock%}
    <div id="footer" class="row {% if footer_hidden %}invisible{% endif %}">
       <div class="col-md-5 text-center">
          Hidden Beauty is hosted by <a href="https://mayhem.cat">Mayhem</a>.
       </div>
       <div class="col-md-3 text-center">
          <a href="/about">About</a> | 
          <a href="/contact">Contact</a>
       </div>
       <div class="col-md-4 text-center">
          No copyrights on any content! (<a href="https://creativecommons.org/share-your-work/public-domain/cc0/">CC0</a>)
       </div>
    </div>
  </div>

  {% block js %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js" integrity="sha256-0H3Nuz3aug3afVbUlsu12Puxva3CP4EhJtPExqs54Vg=" crossorigin="anonymous"></script>
  {% endblock %}

  {% block scripts %}
  {% endblock %}

<script>

var sfw = {{ g.sfw_js }};
var states = {};
var initial_sfw = sfw;

$( document ).ready(function() {
    $('#blur-switch').change(blur_switch);
    if (Cookies.get("sfw") == "0")
    {
        sfw = false;
        $('#blur-switch').bootstrapToggle('off', true);
    }
    $('.img-button').each(function(i, obj) {
        $("#" + this.id).on('click', img_click);
    });
});

function blur_switch(evt) {
    sfw = !sfw;
    attrs = { expires: 7, sameSite: 'Strict', domain: "{{ domain }}" }
    if (sfw)
    {
        $('.img-button').each(function(i, obj) {
            blur_image(this.id);
        });
        Cookies.remove("sfw", attrs);
        url = new URL(window.location.href);
        if (url.pathname.startsWith("/model")) {
            window.location.href = "/";
        }
        if (url.pathname.startsWith("/browse/by-attributes")) {
            location.reload();
        }
    }
    else
    {
        $('.img-button').each(function(i, obj) {
            unblur_image(this.id);
        });
        Cookies.set("sfw", "0", attrs);
        url = new URL(window.location.href);
        if (url.pathname.startsWith("/browse/by-attributes")) {
            location.reload();
        }
    }
}

function blur_image(id) {
    $("#" + id).text("unblur");
    $("#" + id).removeClass("btn-outline-success");
    $("#" + id).addClass("btn-outline-danger");
    data = id.split("-")
    url = make_url(data[0], data[1], data[2], true, data[3] == 'True');
    $("#screenshot-" + id).attr("src", url);
}

function unblur_image(id) {
    $("#" + id).text("blur");
    $("#" + id).addClass("btn-outline-success");
    $("#" + id).removeClass("btn-outline-danger");
    data = id.split("-")
    url = make_url(data[0], data[1], data[2], false, data[3] == 'True');
    $("#screenshot-" + id).attr("src", url);
}

function img_click(evt) {  
    id = evt.target.id;
    if (!(id in states)) {
        states[id] = initial_sfw;
    }

    states[id] = !states[id]
    if (states[id])
        blur_image(id);
    else
        unblur_image(id);
}

function make_url(id, code, version, sfw, tagged) {
    url = "/model/m/" + id.toString() +
          "/" + code + 
          "/" + id.toString() +
          "-" + code +
          "-" + version.toString() +
          "-screenshot";
    if (sfw) {
        url += "-sfw";
    }
    if (tagged) {
        url += "-tagged";
    }
    return url + ".jpg"
}

</script>
</body>
</html>
