{%- extends 'base.html' -%}
{% from "macros.html" import screenshot without context %}
{%- block content -%}
<div class="row">
  <div class="col-md-12 index-text">
    <h2 class="mb-4" id="heading">Welcome to Hidden Beauty!</h2>

    <div class="row">
      <div class="col-md-7">
        <p>
           The Hidden Beauty project aims to allow people to view other humans and to show that We Are Beautiful.
           The human body takes many shapes and forms and we should all be comfortable in our own bodies and have
           a positive body image. However, modern society puts an incredible amount of pressure on us to look a
           certain way. We are constantly bombarded with a very narrow range of body types which are held up
           as a beauty ideal and we may start to think that we are somehow inadequate. 
        </p>
        <p>
           We are not inadequate; we're merely human and come in many lovely shapes and sizes. And that is
           just fine, because we are all beautiful! <span style="color: red;">&hearts;</span>
        </p>
      </div>
      <div class="col-md-5 text-center">
        <img style="width: 100%; border-radius: 15px;" src="/model/m/000000/HSNN/000000-HSNN-1-screenshot.jpg">
        <a href="/model/000000-HSNN-1" style="font-size: 12pt;">Model 000000-HSNN</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-7">
        <p>
           If you've ever wondered if you are <em>normal</em> or are curious about the human body, welcome 
           to Hidden Beauty.  This site allows you to explore our models in great detail in privacy.
           You can view the models online or download any of these models, whether to use them for new projects or to
           print them using a 3D printer. If you don't have access to a 3D printer, you may also order prints
           online from this site. All the models and content on this site are released into the 
           <a href="https://creativecommons.org/share-your-work/public-domain/cc0/">public domain</a>,
           which means you are free to use anything on this site as you see fit.
        </p>
      </div>
      <div class="col-md-5 text-center">
        {{ screenshot(476551, "BSNN") }}
        <a href="/model/476551-BSNN-1" style="font-size: 12pt;">Model 476551-BSNN</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-7">
        <p>
           We suggest that you to start with our <a href="/exhibit">exhibits</a> for the best introduction to this site.
           You may also browse our models online by:
        </p>

        <ul>
          <li>
             <a href="{{ url_for('browse.by_part') }}">body part</a>: models grouped by body part.
          </li>
          <li>
             <a href="{{ url_for('browse.by_model') }}">model</a>: grouped by human model.
          </li>
          <li>
             <a  href="{{ url_for('browse.by_attributes') }}">attributes</a>: shown by model attribute.
          </li>
        </ul>
        <p>
           We have {{ model_count - 1 }} intimate models that show off normal human bodies. All of our models are
           volunteers between {{ min_age }} and {{ max_age}} years old and span a wide range
           of <a href="{{ url_for('docs.diversity') }}">ages, body types and countries of origin</a>.
        </p>
      </div>
      <div class="col-md-5 text-center">
        {{ screenshot(694420, "PLNN") }}
        <a href="/model/694420-PLNN-1" style="font-size: 12pt;">Model 694420-PLNN</a>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-7">
        <p>
           We've carefully curated all the metadata of our models and are releasing only the public information
           while <a href="{{ url_for('index.privacy') }}">carefully protecting</a> the private information.
           We never reveal the identity of our models and this information does not exist online at all.
        </p>
        <p>
          We hope that you will enjoy this site and perhaps share it with others who may benefit from the
          knowledge contained on this site.
        </p>
      </div>
      <div class="col-md-5 text-center">
        {{ screenshot(191644, "VLNN") }}
        <a href="/model/191633-VLNN-1" style="font-size: 12pt;">Model 191644-VLNN</a>
      </div>
    </div>

  </div>
</div>
{% endblock%}
