{% macro screenshot(id, code, version=1, tagged=False, class="", btn_class="", style="") -%}
<div style="position: relative">
    <a href="/model/{{ id|string + "-" + code + "-" + version|string }}">
      <img id="{{ "screenshot-" + id|string + "-" + code + "-" + version|string }}"
           src="{{ url_for_screenshot(id, code, version, g.sfw, tagged) }}"
           class="{{ class }}"
           style="{{ style }}">
    </a>
    <div id="image-{{ id|string + "-" + code + "-" + version|string }}" class="nsfw-button-overlay">
       <button type="button"
               id="{{ id|string + "-" + code + "-" + version|string }}"
               {% if g.sfw %}
                 class="img-button btn btn-outline-danger {{ btn_class }}">unblur</button>
               {% else %}
                 class="img-button btn btn-outline-success {{ btn_class }}">blur</button>
               {% endif %}
    </div>
</div>
{% endmacro %}
