{% macro screenshot(id, code, version, tagged) -%}
<img id="{{ "screenshot-" + id|string + "-" + code + "-" + version|string + "-" + tagged|string }}"
     src="{{ url_for_screenshot(id, code, version, True, tagged) }}">
{% endmacro %}

{% macro screenshot_js() -%}
<script>
var states = {};
var swf = true;
var initial_swf = swf;

$( document ).ready(function() {
    $('body').on('click','img',img_click);
});
function img_click(evt) {  
    id = evt.target.id;
    if (id.startsWith("screenshot-")) {
        if (!(id in states)) {
            states[id] = initial_swf;
        }

        states[id] = !states[id]

        data = id.split("-")
        url = make_url(data[1], data[2], data[3], states[id], data[4] == 'True');
        $("#" + id).attr("src", url);
    };
}
function make_url(id, code, version, sfw, tagged) {
    url = "/model/m/" + id.toString() +
          "/" + code + 
          "/" + id.toString() +
          "-" + code +
          "-" + version.toString() +
          "-screenshot";
    if (sfw) {
        url += "-sfw";
    }
    if (tagged) {
        url += "-tagged";
    }
    return url + ".jpg"
}

</script>
{% endmacro %}
